/*登录页面*/
.login-form{
	width: 200px;
	height: 100px;
	margin-top:-50px;
	margin-left:-100px;
	position: absolute;
    left:50%;
    top:40%;
}
.login-form-input{
	margin-top: 15px;
	/*padding-top: 20px;*/
	padding-bottom: 0px;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    width:200px;
    height:38px;
    vertical-align: text-bottom;
    font-size: 18px;
    line-height: 25px;
    text-align: bottom;
    border-color: black;



}

.login-form-button{
	border-style: solid;
	background-color: white;
	margin-top: 15px;
	width:200px;
    height:40px;
    font-size: 18px;
    border-color: black;
    border-radius: 15px;

}
/*登录页面END*/

/*首页*/
.index-top{
    width:100%;
    height:5%;
}

.index-top-title{
	position: absolute;
    left:25%;
    font-size: 28px;
}


.index-middle{
	margin-top:10px;
	margin-bottom: 10px;
    width:100%;
    height:100%;
}

.index-middle-blog{
   position: absolute;
   left:25%;
}

.index-middle-blog-title{
   font-size: 16px;
   font-weight: bold;
}

.index-middle-blog-content{
   margin-top:10px;
   font-size: 14px;
}

.index-bottom{
   width:100%;
   height:5%;
}
/*首页END*/

