/*登录页面*/
.login-form{
	width: 200px;
	height: 100px;
	margin-top:-50px;
	margin-left:-100px;
	position: absolute;
    left:50%;
    top:40%;
}
.login-form-input{
	margin-top: 15px;
	/*padding-top: 20px;*/
	padding-bottom: 0px;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    width:200px;
    height:38px;
    vertical-align: text-bottom;
    font-size: 18px;
    line-height: 25px;
    text-align: bottom;
    border-color: black;



}

.login-form-button{
	border-style: solid;
	background-color: white;
	margin-top: 15px;
	width:200px;
    height:40px;
    font-size: 18px;
    border-color: black;
    border-radius: 15px;

}
/*登录页面END*/

/*首页*/
.index-top{
    width:100%;
    height:5%;
}

.index-top-title{
	position: absolute;
    left:25%;
    font-size: 32px;
}


.index-middle{
	margin-top:10px;
	margin-bottom: 10px;
    width:100%;
    height:120%;
}

.index-middle-blog{
   margin-top: 10px;
   margin-left: 25%;
   margin-right: 31%;
}

.index-middle-blog-title{
   font-size: 16px;
   font-weight: bold;
   width:700px;
   height:22px;
}

.index-middle-blog-content{
   width:700px;
   height:88px;
   margin-top:10px;
   font-size: 14px;
}
.index-middle-page{
   margin-top: 10px;
   margin-left: 25%;
   margin-right: 31%;
   text-align: center;

}
.index-middle-page-first{
   border-style:solid;
   padding:0 18px;
   width: 34px;
   height: 34px;
   border: 1px solid #e1e2e3;
  
}

.index-middle-page-pre{
   border-style:solid;
   padding:0 18px;
   width: 34px;
   height: 34px;
   border: 1px solid #e1e2e3;
   
}
.index-middle-page-num{
   border-style:solid;
   padding:0 18px;
   width: 34px;
   height: 34px;
   border: 1px solid #e1e2e3;
   
}
.index-middle-page-next{
   border-style:solid;
   padding:0 18px;
   width: 34px;
   height: 34px;
   border: 1px solid #e1e2e3;
   
}

.index-middle-page-last{
   padding:0 18px;
   width: 34px;
   height: 34px;
   border: 1px solid #e1e2e3;
   border-style:solid;

}


.index-bottom{
	margin-top:10px;
    width:100%;
    height:5%;
}
/*首页END*/


/*详情页*/
.detail-top{
    width:100%;
    height:5%;
}

.detail-top-title{
	position: absolute;
    left:25%;
    font-size: 32px;
}


.detail-middle{
	margin-top:10px;
	margin-bottom: 10px;
    width:100%;
    height:120%;
}

.detail-middle-blog{
   margin-top: 10px;
   margin-left: 25%;
   margin-right: 31%;
}

.detail-middle-blog-title{
   font-size: 20px;
   font-weight: bold;
   width:700px;
   height:22px;
}

.detail-middle-blog-describe{
   font-size: 12px;
   margin-top:5px;
   width:700px;
   height:22px;
}

.detail-middle-blog-content{
   width:700px;
   margin-top:10px;
   font-size: 14px;
}

.detail-bottom{
	margin-top:10px;
    width:100%;
    height:5%;
}
/*详情页END*/

